@tailwind base;
@tailwind components;
@tailwind utilities;


/* Titles */
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin"); 

/* General Use */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Kawi");

@import url("https://fonts.googleapis.com/css2?family=Poppins");


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  /* background-color: #f7f2f2; */
  /* background-color: #e69999; */
    background: #d9a7c7;
    font-family: 'Poppins';

    background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);

    background: linear-gradient(to right, #fffcdc, #d9a7c7);

  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */

  padding-top: 10px;
}




.GridBasis{
  /* background-color: #f5f5f7; */
    display: flex;
    justify-content: center;
    align-items: center;

    /* border-radius: 16px;
    font-size: 2rem;
    color: #1d1d1f;
    visibility: visible;
    cursor: grab;
    box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    transition: all .1s ease; */
    
  }

.pushin{
    border-radius: 16px;
      font-size: 2rem;
      color: #1d1d1f;
      visibility: visible;
      cursor: grab;
      box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
      transition: all .1s ease;
  }
/* 
  .texture{
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png")
  } */

    .GridBasis1 {
      /* background-color: #f5f5f7; */
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 16px;
      font-size: 2rem;
      color: #1d1d1f;
      visibility: visible;
      cursor: grab;
      /* box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.5); */
      transition: all .9s ease;
          /* width: clamp(280px, 320px, 90vw); */
          background-color: rgba(255, 255, 255, 0.1);
          /* border: 1px solid rgba(255, 255, 255, 0.2); */
          box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
          backdrop-filter: blur(1000px);
  
    }

  .groupG{
    background-color: #858fe4;
      /* fallback for old browsers */
      /* background: -webkit-linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb);
      background: linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb); */

  }

.contact{
  font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 1rem;
    border-radius: 32px;
    position: relative;
}

.Github_container__xhatr {
  width: 100%;
  height: 100%;
  border-radius: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(55, 247, 109, .863); */
}



.Github_container__xhatr .Github_twitterIcon__DGj3v {
  height: 10rem;
  width: 10rem;
  fill: #fff;
}

canvas,
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}



.GridLayout_container__zgDM_{
  max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.react-grid-layout{
  position: relative;
    transition: height .2s ease;
}

.GridLayout_layout__MyLzk{
  margin: auto;
    width: 900px;
}

.react-grid-item{
      transition: visibility .5s ease 0s;
}

.arrow{
  position: absolute;
  font-size: 2rem;
    bottom: 8px;
    left: 8px;
    background-color: #fff;
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: box-shadow .2s ease-out 0s;
}


.arrow:hover{
  background: rgb(223, 221, 221);
    color: #b5a7a7;
    scale: 1.4;
    border: 4px solid #8c8f8c;
}

.box {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  position: absolute;
  background: white;
  top: 0;
  left: 0;
  /* offset-path: path("M 239 17 C 142 17 48.5 103 48.5 213.5 C 48.5 324 126 408 244 408 C 362 408 412 319 412 213.5 C 412 108 334 68.5 244 68.5 C 154 68.5 102.68 135.079 99 213.5 C 95.32 291.921 157 350 231 345.5 C 305 341 357.5 290 357.5 219.5 C 357.5 149 314 121 244 121 C 174 121 151.5 167 151.5 213.5 C 151.5 260 176 286.5 224.5 286.5 C 273 286.5 296.5 253 296.5 218.5 C 296.5 184 270 177 244 177 C 218 177 197 198 197 218.5 C 197 239 206 250.5 225.5 250.5 C 245 250.5 253 242 253 218.5"
    ); */
}

.scroll-section-outer {
  overflow: hidden;
  margin-top: 40px;
}

.scroll-section-inner {
  height: 100vh;
  width: 400vw;
  display: flex;
  flex-direction: row;
  position: relative;
}

.scroll-section {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo div{
      display: inline-block;
        max-width: 100%;
        overflow: hidden;
        position: relative;
        box-sizing: border-box;
        margin: 0;

}

.NavItemsContainer{
position: relative;
  background: rgba(0, 0, 0, 0.04);
  border-radius: 23px;
  transform: translateX(0px);
  display: flex;
  font-family: "Silka Medium";
  /* font-size: 14px; */
  /* padding: 5px; */

}

/* .NavItemsContainer .NavItem{

} */

.NavItemsContainer .NavItem:hover {
  background-color: #6e7676;
  border-radius: 50px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 32px;
    padding: 0px 16px;
    transition: opacity 0.3s ease 0s;
    /* color: rgb(13, 17, 23); */
}

.NavItemsContainer .NavItem:active {
  position: absolute;
  height: 32px;
  width: 49px;
  border-radius: 16px;
  background: rgb(255, 255, 255);
  z-index: -1;
}

.toggleLabel{
  height: 48px;
  width: 80px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  position: relative;
  background: rgb(240, 242, 248);
  box-shadow: transparent 0px 0px 0px;
}

.toggleInput {
  width: 0;
  height: 0;
  visibility: hidden;
}

.toggleInput:checked+.toggleLabel {
  background: #242424;
}

.toggleLabel svg{
  position: absolute;
  width: 20px;
  top: 5px;
  z-index: 100;
}

.Sun{
  left: 5px ;
  fill: #7e7e7e;
  transition: 0.3s;
}


.blog{
  /* font-size:2em; */
  color: #d75383;
  text-shadow: 
    0px 1px 0px #ae2155,
    0px 2px 0px #ae2155,
    0px 3px 0px #ae2155,
    0px 4px 0px #ae2155,
    0px 5px 0px #ae2155,
    0px 6px 0px #ae2155,
    0px 7px 0px #ae2155,
    0px 8px 0px #ae2155,
    0px 9px 0px #ae2155,
    0px 10px 0px #ae2155,

    0px 10px 5px #2e0916;
}

.music-moving{
  width: 5px;
    height: 15px;
    margin-right: 3px;
    background: #1DB954;
    border-radius: 1.5px;
    animation: bounce 2.2s ease infinite alternate;
      content: '';
}
.music-moving:nth-child(1) {
  animation-delay: 0s;
}

.music-moving:nth-child(2) {
  animation-delay: 0.5s;
}

.music-moving:nth-child(3) {
  animation-delay: 0.2s;
}

.music-moving:nth-child(4) {
  animation-delay: 0.75s;
}


@keyframes bounce {
  10% {
    transform: scaleY(0.3);
    /* start by scaling to 30% */
  }

  30% {
    transform: scaleY(1);
    /* scale up to 100% */
  }

  60% {
    transform: scaleY(0.5);
    /* scale down to 50% */
  }

  80% {
    transform: scaleY(0.75);
    /* scale up to 75% */
  }

  100% {
    transform: scaleY(0.6);
    /* scale down to 60% */
  }
}

.stack-top {
  /* adjust the below to control the shape */
  --d: 5px;
  --g: 16px;
  --c: #333;
  /**/
  font-size: 12px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(29.29%, -100%) rotate(45deg);
  /* 29.29% = 100%*(1 - cos(45deg)) */
  color: #fff;
  text-align: center;
  width: 140px;
  transform-origin: bottom left;
  padding: 5px 0 calc(var(--d) + 5px);
  background:
    linear-gradient(135deg, transparent var(--g), var(--c) calc(var(--g) - 0.3px)) left,
    linear-gradient(-135deg, transparent var(--g), var(--c) calc(var(--g) - 0.3px)) right;
  background-size: 51% 100%;
  background-repeat: no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 100%, calc(100% - var(--d)) calc(100% - var(--d)), var(--d) calc(100% - var(--d)), 0 100%)
}

.avatar {
  background-image: url('../../public/Hero.png');
  background-size: cover;
              background-position: center;
  object-fit: cover;
}