@tailwind base;
@tailwind components;
@tailwind utilities;


/* Titles */

/* General Use */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Kawi");

@import url("https://fonts.googleapis.com/css2?family=Poppins");

@font-face {
  font-family: hero;
  src: url(../../public/Nexa-Heavy.ttf)
}

.title{
  font-family: hero;
  /* font-weight: bolder; */
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {

  padding-top: 10px;
}

.lightBody{
  background: #d9a7c7;
  background: linear-gradient(to right, #fffcdc, #d9a7c7);

}

.darkBody{
  background: rgb(48, 46, 88);
    background: linear-gradient(90deg, rgba(48, 46, 88, 1) 1%, rgba(9, 70, 121, 1) 43%, rgba(0, 212, 255, 1) 100%);
}


.GridBasis{
  /* background-color: #f5f5f7; */
    display: flex;
    justify-content: center;
    align-items: center;

    /* border-radius: 16px;
    font-size: 2rem;
    color: #1d1d1f;
    visibility: visible;
    cursor: grab;
    box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    transition: all .1s ease; */
    
  }

.pushin{
    border-radius: 16px;
    /* border-style: solid;
      border-color: rgb(125, 125, 125); */
      font-size: 2rem;
      color: #1d1d1f;
      visibility: visible;
      cursor: grab;
      /* box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.5); */
      transition: all .1s ease;
  }


.contact{
  font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 1rem;
    border-radius: 32px;
    position: relative;
}

.Github_container__xhatr {
  width: 100%;
  height: 100%;
  border-radius: 32px;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* background-color: rgba(55, 247, 109, .863); */
}



.Github_container__xhatr .Github_twitterIcon__DGj3v {
  height: 10rem;
  width: 10rem;
  fill: #fff;
}

canvas,
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}



.GridLayout_container__zgDM_{
  max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.react-grid-layout{
  position: relative;
    transition: height .2s ease;
}

.GridLayout_layout__MyLzk{
  margin: auto;
    width: 900px;
}

.react-grid-item{
      transition: visibility .5s ease 0s;
}

.arrow{
  position: absolute;
  font-size: 2rem;
    bottom: 8px;
    left: 8px;
    background-color: #fff;
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: box-shadow .2s ease-out 0s;
}

.arrow2 {
  /* position: relative; */
  font-size: 2rem;
  /* bottom: 8px;
  left: 8px; */
  background-color: #fff;
  border-radius: 100%;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: box-shadow .2s ease-out 0s;
}

@media screen and (max-width: 640px) {
  .arrow {
    bottom: 2px;
      left: 2px;
  }
}


.arrow:hover, .arrow2:hover{
  background: rgb(223, 221, 221);
    color: #b5a7a7;
    /* scale: 1.4; */
    border: 4px solid #8c8f8c;
}

.box {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  position: absolute;
  background: white;
  top: 0;
  left: 0;

}


.logo div{
      display: inline-block;
        max-width: 100%;
        overflow: hidden;
        position: relative;
        box-sizing: border-box;
        margin: 0;

}

.NavItemsContainer{
position: relative;
  border-radius: 23px;
  transform: translateX(0px);
  display: flex;
  

}


.NavItemsContainer .NavItem:hover {
  background-color: #6e7676;
  border-radius: 50px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 32px;
    padding: 0px 16px;
    transition: opacity 0.3s ease 0s;
    /* color: rgb(13, 17, 23); */
}

.NavItemsContainer .NavItem:active {
  position: absolute;
  height: 32px;
  width: 49px;
  border-radius: 16px;
  background: rgb(255, 255, 255);
  z-index: -1;
}



.Sun{
  left: 5px ;
  fill: #7e7e7e;
  transition: 0.3s;
}


.blog{
  color: #0c92f8;

}
.pot {



  /* animation: linear infinite; */
  /* animation-name: run;
  animation-duration: 5s; */
  animation: run 20s ease infinite alternate;
}

@keyframes run {
  0% {
    left: 0;
    transform: rotateY(180deg);
  }
    45% {
      left: 80%;
      transform: rotateY(180deg);
  
    }

  50% {
    left: 90%;
    transform: rotateY(0deg);
    
  }

        95% {
          left: 20%;
          transform: rotateY(0deg);
    
        }

  100% {
    left: 0;
    transform: rotateY(180deg);
    
  }
}
.music-moving{
  width: 5px;
    height: 1.5em;
    margin-right: 3px;
    border-radius: 1.5px;
    animation: bounce 2.2s ease infinite alternate;
      content: '';
}
.music-moving:nth-child(1) {
  animation-delay: 0s;
}

.music-moving:nth-child(2) {
  animation-delay: 0.5s;
}

.music-moving:nth-child(3) {
  animation-delay: 0.2s;
}

.music-moving:nth-child(4) {
  animation-delay: 0.75s;
}


@keyframes bounce {
  10% {transform: scaleY(0.3);}

  30% {transform: scaleY(1);}

  60% {transform: scaleY(0.5);}

  80% {transform: scaleY(0.75);}

  100% {transform: scaleY(0.6);}
}

.stack-top {
  /* adjust the below to control the shape */
  --d: 5px;
  --g: 16px;
  --c: #333;
  /**/
  font-size: 12px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(29.29%, -100%) rotate(45deg);
  /* 29.29% = 100%*(1 - cos(45deg)) */
  color: #fff;
  text-align: center;
  width: 9em;
  transform-origin: bottom left;
  padding: 5px 0 calc(var(--d) + 5px);
  background:
    linear-gradient(135deg, transparent var(--g), var(--c) calc(var(--g) - 0.3px)) left,
    linear-gradient(-135deg, transparent var(--g), var(--c) calc(var(--g) - 0.3px)) right;
  background-size: 51% 100%;
  background-repeat: no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 100%, calc(100% - var(--d)) calc(100% - var(--d)), var(--d) calc(100% - var(--d)), 0 100%)
}

